
<%= form_tag("https://localhost:3000/api/v1/gifts", method: "post", id: "form") do %>

	<input type="hidden" name="school[id]" value="<%= @school.id %>">
	<div>
		<label for="donor_first_name">First Name</label><br>
		<input type="text" name="donor[first_name]" value="<%= @donor.first_name unless @donor.nil? %>">
	</div>
	<div>
		<label for="donor_last_name">Last Name</label><br>
		<input type="text" name="donor[last_name]" value="<%= @donor.last_name unless @donor.nil? %>">
	</div>
	<div>
		<label for="donor_email">Email</label><br>
		<input type="email" name="donor[email]" value="<%= @donor.email unless @donor.nil? %>">
	</div>

	<% if @donor.nil? %>

		<div class="gift-total">
			<div>
				<input type="radio" name="gift[total]" value="50" checked>
				<label>50</label>
			</div>
			<div>
				<input type="radio" name="gift[total]" value="100">
				<label>100</label>
			</div>
			<div>
				<input type="radio" name="gift[total]" value="250">
				<label>250</label>
			</div>
			<div>
				<input type="radio" name="gift[total]" for="gift_total_other">
				<input type="text" name="gift[total_other]" id="gift_total_other" placeholder="Other">
			</div>
		</div>

	<% else %>

	<div>
		<label for="gift_total_primary"><%= @donor.suggested_gift %></label>
		<input type="radio" name="gift[total]" value="50">
	</div>
	<div>
		<label for="gift_total">Other</label>
		<input type="radio" name="gift[total]" for="gift_total_other"><input type="text" name="gift[total]" id="gift_total_other">
	</div>

	<% end %>

	<div>
		<label>Gift Type</label>
		<span><input type="radio" name="gift[gift_type]" value="gift" checked>Gift</span>
		<span><input type="radio" name="gift[gift_type]" value="pledge">Pledge</span>
		<span><input type="radio" name="gift[gift_type]" value="pledge_payment">Pledge Payment</span>
	</div>

	<div>
		<p id="designate-link">I'd Like to specially designate this gift</p>
		<select name="gift[designation]" id="designate">
			<% @school.designation.each do |designation| %>
				<option value="<%= designation %>"><%= designation %></option>
			<% end %>
		</select>
	</div>

	<div id="braintree-dropin"></div>

	<div>
		<input type="submit" name="commit" value="Give to <%= @form.school.name %>">
	</div>

<% end %>

<!-- Load Dependencies -->

<link rel="stylesheet" type="text/css" href="https://localhost:3000/form.css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-rc1/jquery.min.js"></script>
<script src="https://js.braintreegateway.com/js/braintree-2.24.1.min.js"></script>
<script src="https://localhost:3000/form.js" type="text/javascript"></script>

<script type="text/javascript">

// Braintree
braintree.setup('<%= @client_token %>', "dropin", {
  container: "braintree-dropin"
});

</script>

