<!DOCTYPE html>
<html>
<head>
  <title>Giftwrap Admin</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
</head>
<body>

<% flash.each do |message_type, message| %>
  <div id="flash-message" class="giftwrap-admin-alert-control alert alert-<%= message_type %>"><%= message %></div>
<% end %>

<%= render 'admin/v1/layouts/header' %>

<%= yield %>

<%= render 'admin/v1/layouts/footer' %>



</body>
</html>
